<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <h2> Show page</h2>
    <div class="post">
        <p><%= post.id %></p>
        <h3><%= post.title %></h3>
        <p><%= post.content %></p>
        <a href="/posts">Back to Posts</a>
</body>
</html>